<ul id='menu'>
  <li>
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/cine']">Cine</a>
  </li>
  <li>
    <a [routerLink]="['/musica']">Musica</a>
  </li>
  <li>
    <a [routerLink]="['/tv']">Television</a>
  </li>
  <li>
    <a [routerLink]="['/numerodoble']">Numero doble</a>
  </li>
  <li>
    <a [routerLink]="['/numerodoble/7']">Numero doble 7</a>
  </li>
  <li>
    <a [routerLink]="['/menucollatz']">Menu Collatz</a>
  </li>
  <li>
    <a [routerLink]="['/listaproductos']">Lista productos</a>
  </li>
  <li>
    <a [routerLink]="['/concesionario']">Concesionario</a>
  </li>
</ul>
